html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "acumin-pro-extra-condensed", sans-serif; }

/*body*/
body {
  background-color: #f8f9fa;
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-size: 2vw;
  color: #000814; }

/*body wrapper*/
.wrapper {
  max-width: 1200px;
  height: auto;
  flex-flow: row wrap;
  margin: auto; }

.contents {
  max-width: 980px;
  margin: auto; }

/*basic transforms*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bottom {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0; }

.top {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

/*header*/
header {
  display: flex;
  flex-flow: column wrap;
  height: auto;
  max-width: 100%; }

/*navigation*/
.nav {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  align-self: start;
  width: 400px;
  height: 55px; }

.mobile {
  display: none; }

.mobile-view-image {
  display: none; }

.site-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .site-nav ul {
    list-style: none;
    text-align: left;
    position: absolute;
    list-style-type: none;
    		/*margin-block-start: 1em;
        	margin-block-end: 1em;
    		margin-inline-start: 0px;
        	margin-inline-end: 0px;
        	padding-inline-start: 40px;*/ }
    .site-nav ul li {
      width: auto;
      height: auto;
      object-position: bottom;
      float: left;
      position: relative;
      box-sizing: border-box;
      overflow: visible;
      visibility: inherit;
      display: inline;
      align-content: left; }
      .site-nav ul li a {
        text-decoration: none;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        text-align: left;
        cursor: pointer;
        background: transparent;
        font-size: 13px;
        color: #000814;
        display: block;
        padding: 1.4em;
        padding-bottom: 0;
        padding-left: 0; }
      .site-nav ul li a:hover {
        color: dimgrey; }

.nav-list {
  height: 100%;
  white-space: nowrap;
  overflow: visible; }

.nav-link {
  height: 100%;
  margin-top: 5px; }

/*site hero banner*/
.main-banner {
  width: 1200px;
  height: 600px;
  position: relative;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
  contentPaddingLeft: 0px;
  contentPaddingRight: 0px;
  contentPaddingTop: 0px;
  contentPaddingBottom: 0px; }
  .main-banner figure img {
    width: 1200px;
    height: 600px; }

.banner-text {
  width: 404px;
  height: 76px;
  background-color: #f8f9fa;
  border: 3px solid #000814;
  border-radius: 0; }

.font-text {
  font-size: 33px;
  height: 100%;
  text-align: center;
  letter-spacing: normal; }
  .font-text span a {
    text-decoration: none;
    color: black;
    text-align: center; }

/*site search*/
.top-search {
  border: thin;
  width: 750px;
  height: 75px;
  font-size: 17px;
  margin-bottom: -15px; }
  .top-search form {
    box-sizing: border-box;
    cursor: text;
    display: flex;
    height: 40px;
    overflow: hidden;
    width: 100%; }
    .top-search form input[type=text] {
      width: 100%;
      font-size: 20px; }
    .top-search form input[type=text]:hover {
      border: 1px solid #000814; }
    .top-search form button:hover {
      border: 1px solid #000814;
      cursor: pointer; }

.top-search button {
  height: 40px;
  width: 45px;
  background: #000814;
  border: none;
  font-size: 17px; }

/*main*/
main {
  margin-top: 50px;
  display: flex;
  flex-flow: column wrap; }

/*intro start*/
.intro {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  position: relative;
  padding: 2.5em 3.25em 2.5em;
  color: #343144;
  background: #fff;
  margin-bottom: 50px; }

.intro-date {
  font-size: .8em;
  font-weight: 100;
  position: absolute;
  top: 19%;
  left: 2.25em;
  transform: rotate(90deg);
  transform-origin: 0 0;
  letter-spacing: .09em;
  opacity: .9;
  white-space: nowrap; }

.intro-date span + span {
  position: relative;
  padding-left: 9.45em; }

.intro-date span + span:before {
  content: '';
  position: absolute;
  top: .5em;
  left: 2.2em;
  width: 4.25em;
  border-top: 1px solid; }

.intro p {
  font-size: 1.5em;
  line-height: 1.685;
  position: relative;
  z-index: 200;
  text-align: center;
  letter-spacing: .325em;
  text-transform: uppercase; }

.intro-text {
  position: relative; }

/*end intro*/
.projects {
  width: 100%;
  display: flex;
  flex-flow: column wrap; }

.project {
  width: 100%;
  height: 45%;
  max-height: 550px;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 25px;
  margin-bottom: 25px; }

.project-content {
  width: 45%;
  height: 540px;
  max-height: inherit; }
  .project-content figure {
    position: relative;
    width: 100%; }
    .project-content figure figcaption {
      text-transform: uppercase;
      position: absolute; }
    .project-content figure img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

.project-description {
  width: 55%;
  display: block;
  max-height: inherit;
  text-align: center;
  color: #fff;
  padding: 1.65vw 3vw 1.5vw; }
  .project-description p {
    font-size: 1.3vw;
    line-height: 2;
    opacity: .7;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 3vw;
    padding-bottom: 1vw; }

.project-subject {
  font-size: .85vw;
  font-weight: bold;
  line-height: 1;
  letter-spacing: .04vw;
  color: #fff;
  padding-left: 8vw;
  padding-top: 0.5vw; }

.project-title {
  /*	width: -moz-fit-content;
    	width: fit-content;*/
  font-family: "acumin-pro-extra-condensed", sans-serif;
  font-size: 1.45vw;
  font-weight: 100;
  margin-bottom: 1.45vw;
  letter-spacing: .36vw;
  text-transform: uppercase;
  text-align: left; }

.seeMore {
  width: 50%;
  font-size: 1.8vw;
  display: inline-block;
  margin-top: 2.85vw;
  padding: 0 2vw 0 .5vw;
  transition: all .3s;
  color: #ffffff;
  text-decoration: none;
  background-image: url("../images/right-arrow-white.png");
  background-repeat: no-repeat;
  background-position: 80% 60%;
  background-size: 2vw; }

.seeMore:hover {
  padding: 0 3.25vw 0 .25vw;
  background-position: 93% 60%; }

.seeMore-black {
  width: 50%;
  color: #000814;
  background-image: url("../images/right-arrow-black.png");
  font-size: 1.8vw;
  display: inline-block;
  margin-top: 2.85vw;
  padding: 0 2vw 0 .5vw;
  transition: all .3s;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 80% 60%;
  background-size: 2vw; }

.seeMore-black:hover {
  padding: 0 3.25vw 0 .25vw;
  background-position: 93% 60%; }

/*.project-1 .project-content {
  	padding: 0 0 6% 2%;
  	background: #1d1931;
}*/
.project .project-content figure {
  /*z-index: 200;*/ }

.project .project-content figure figcaption {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
  text-align: right;
  background: #635bda; }

/*gradient for background*/
.project-1 .project-content {
  background-image: -webkit-linear-gradient(305deg, #1d1931 0%, #14213d 100%);
  background-image: -o-linear-gradient(305deg, #1d1931 0%, #14213d 100%);
  background-image: linear-gradient(35deg, #1d1931 0%, #14213d 100%); }

.project-1 .project-description {
  background-image: -webkit-linear-gradient(305deg, #ffb4aa 0%, #d02ac2 100%);
  background-image: -o-linear-gradient(305deg, #ffb4aa 0%, #d02ac2 100%);
  background-image: linear-gradient(35deg, #ffb4aa 0%, #d02ac2 100%); }

.project-2 .project-content {
  background-image: -webkit-linear-gradient(305deg, #a037dc 0%, #53c8ea 100%);
  background-image: -o-linear-gradient(305deg, #a037dc 0%, #53c8ea 100%);
  background-image: linear-gradient(35deg, #a037dc 0%, #53c8ea 100%); }

.project-2 .project-description {
  background-image: -webkit-linear-gradient(305deg, #a037dc 0%, #1d1931 100%);
  background-image: -o-linear-gradient(305deg, #a037dc 0%, #1d1931 100%);
  background-image: linear-gradient(35deg, #a037dc 0%, #1d1931 100%); }

.project-3 .project-content {
  background-image: -webkit-linear-gradient(305deg, #14213d 0%, #53c8ea 100%);
  background-image: -o-linear-gradient(305deg, #14213d 0%, #53c8ea 100%);
  background-image: linear-gradient(35deg, #14213d 0%, #53c8ea 100%); }

.project-3 .project-description {
  background-image: -webkit-linear-gradient(305deg, #a037dc 0%, #1d1931 100%);
  background-image: -o-linear-gradient(305deg, #a037dc 0%, #1d1931 100%);
  background-image: linear-gradient(35deg, #a037dc 0%, #1d1931 100%); }

.project-4 .project-content {
  background-image: -webkit-linear-gradient(305deg, #a037dc 0%, #53c8ea 100%);
  background-image: -o-linear-gradient(305deg, #a037dc 0%, #53c8ea 100%);
  background-image: linear-gradient(35deg, #a037dc 0%, #53c8ea 100%); }

.project-4 .project-description {
  background-image: -webkit-linear-gradient(305deg, #a037dc 0%, #1d1931 100%);
  background-image: -o-linear-gradient(305deg, #a037dc 0%, #1d1931 100%);
  background-image: linear-gradient(35deg, #a037dc 0%, #1d1931 100%); }

/*burron to see all projects*/
.all-projects {
  background-image: -webkit-linear-gradient(305deg, #03045e 0%, #1d1931 100%);
  background-image: -o-linear-gradient(305deg, #03045e 0%, #1d1931 100%);
  background-image: linear-gradient(35deg, #03045e 0%, #1d1931 100%); }

.close-icon {
  background-image: -webkit-linear-gradient(305deg, #a037dc 0%, #53c8ea 100%);
  background-image: -o-linear-gradient(305deg, #a037dc 0%, #53c8ea 100%);
  background-image: linear-gradient(35deg, #a037dc 0%, #53c8ea 100%); }

.all-projects {
  width: 80%;
  height: 30px;
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: #000814;
  border: 1px solid #000814; }
  .all-projects p {
    width: 100%; }
    .all-projects p a {
      width: 100%;
      text-decoration: None;
      color: #ffffff; }

.deco1 {
  margin-top: -20%;
  margin-bottom: 20%; }

/*main contents ends*/
/*footer*/
footer {
  display: flex;
  flex-flow: column wrap; }

.footer-profile {
  display: flex;
  flex-flow: column wrap; }

.profile-bio {
  width: 100%; }
  .profile-bio .bio {
    width: 100%;
    display: flex;
    flex-flow: row wrap; }

.profile {
  width: 40%;
  background-color: #0A0909; }

.profile figure {
  width: 100%;
  background-color: #000814; }
  .profile figure img {
    max-width: 100%;
    max-height: 100%; }

.biography {
  width: 55%;
  margin-left: 5%; }
  .biography hr {
    width: 12%;
    border: 2px solid #000814;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #000814; }
  .biography p a {
    font-size: 15px;
    height: 100%;
    display: flex;
    position: relative;
    align-self: flex-start;
    margin-top: -5px; }
  .biography .more-me {
    align-self: flex-end; }

.contact-social {
  width: 100%;
  display: flex;
  flex-flow: row wrap; }

.socials {
  width: 30%;
  top: 0;
  align-self: flex-start;
  position: relative; }

.contact {
  width: 70%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  text-transform: uppercase;
  font-size: 15px; }
  .contact p {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold; }

.contact_form {
  font-size: 14px;
  display: flex;
  flex-flow: row wrap; }

.name {
  width: 50%;
  margin-bottom: 30px; }
  .name label {
    width: 100%; }
  .name input[type=text] {
    width: 80%;
    height: 25px;
    border: 1px solid #000814; }

.email {
  width: 50%; }
  .email label {
    width: 100%; }
  .email input[type=text] {
    width: 100%;
    height: 25px;
    float: right;
    border: 1px solid #000814; }

.message {
  width: 100%; }
  .message label {
    width: 100%; }
    .message label hr {
      border: 0px solid #000814;
      margin-bottom: 10px; }
  .message textarea {
    width: 100%;
    border: 1px solid #000814; }

.submit {
  width: 100%; }
  .submit input {
    width: 100%;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 50px;
    color: #f8f9fa;
    background-color: #000814;
    border: 1px solid #000814; }
  .submit input:hover {
    border: 2px solid #000814;
    cursor: pointer; }

.footer-social {
  display: inline;
  list-style: none;
  text-align: left;
  position: relative;
  list-style-type: none; }
  .footer-social li {
    display: inline;
    margin-right: 10px; }
    .footer-social li a {
      text-decoration: none; }

.footer-credit {
  font-size: 12px;
  width: 40%;
  position: relative; }
  .footer-credit a {
    text-decoration: none;
    color: #000814; }

.footer-legal {
  font-size: 12px;
  width: 50%;
  position: relative;
  text-align: right; }

/*footer items ends*/
/* Solid border */
hr.solid {
  border: 2px solid #000814;
  width: 10%;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #000814; }

.solid-line {
  border: 1px solid #000814;
  width: 80%;
  margin: 50px;
  background-color: #000814; }

.empty-line {
  border: 0px solid #000814;
  width: 80%;
  margin: 30px;
  background-color: #000814; }

.longer-line {
  border: 0.5px solid #000814;
  width: 40%;
  margin: 30px;
  background-color: #000814; }

.long-line {
  border: 1px solid #000814;
  width: 10%;
  margin-bottom: 10%;
  margin-top: 10%;
  background-color: #000814; }

/*Media queries*/
/*Default is for 1200px and larger for now*/
/*For screens smaller than 1200px*/
@media screen and (max-width: 1200px) and (min-width: 896px) {
  .wrapper {
    width: 896px; }

  .main-banner {
    width: 896px;
    height: 400px; }
    .main-banner figure img {
      width: 896px;
      height: 400px; }

  .top-search {
    width: 725px; }

  .project .project-content {
    height: 400px; }
    .project .project-content figure {
      max-width: 100%;
      max-height: 100%; }
      .project .project-content figure img {
        max-width: 100%;
        height: auto;
        max-height: 100%; } }
/*For screens smaller than 896px*/
@media screen and (max-width: 896px) and (min-width: 725px) {
  .wrapper {
    width: 725px; }

  .nav {
    width: 200px; }
    .nav .site-nav ul li {
      padding-top: 15px; }
      .nav .site-nav ul li a {
        font-size: 10px; }

  .banner-text {
    width: 300px;
    height: 50px; }

  .font-text {
    font-size: 18px; }

  .main-banner {
    width: 725px;
    height: 300px; }
    .main-banner figure img {
      width: 725px;
      height: 300px; }

  .top-search {
    width: 440px;
    height: 55px; }
    .top-search form {
      height: 30px; }
      .top-search form input[type=text] {
        font-size: 14px; }
    .top-search button {
      width: 35px;
      height: 30px;
      font-size: 14px; }

  .project .project-content {
    height: 280px; }
    .project .project-content figure {
      max-width: 100%;
      max-height: 100%; }
      .project .project-content figure img {
        max-width: 100%;
        height: auto;
        max-height: 100%; } }
/*For screens smaller than 725px*/
@media screen and (max-width: 725px) {
  .wrapper {
    width: 440px; }

  .nav {
    display: none; }

  .mobile {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    width: auto;
    height: auto;
    z-index: 500; }
    .mobile .mobile-view-image {
      display: flex;
      align-self: flex-end;
      margin: 2vw; }
      .mobile .mobile-view-image img {
        max-width: 25px;
        max-height: auto; }
      .mobile .mobile-view-image img:hover {
        cursor: pointer; }
    .mobile nav {
      top: 0;
      left: 0;
      width: 40vw;
      height: 100vh;
      display: none;
      flex-flow: column nowrap;
      position: fixed;
      z-index: 500;
      opacity: 0.99;
      background-color: #000814; }
      .mobile nav .close-icon {
        max-width: 5vw;
        float: right;
        display: flex;
        align-self: flex-end;
        margin-top: 2vh;
        margin-right: 2vh; }
        .mobile nav .close-icon img {
          max-width: 5vw;
          max-height: auto; }
        .mobile nav .close-icon img:hover {
          cursor: pointer; }
      .mobile nav ul {
        width: 100%;
        list-style: none;
        text-align: center;
        position: absolute;
        list-style-type: none;
        margin-top: 15vw; }
        .mobile nav ul li {
          width: 100%;
          height: auto;
          align-self: center;
          position: relative;
          box-sizing: border-box;
          align-content: center; }
          .mobile nav ul li a {
            width: 100%;
            align-self: center;
            text-decoration: none;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
            background: transparent;
            font-size: 4vw;
            color: #ffffff;
            display: block;
            margin-top: 25vw;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0; }
          .mobile nav ul li a:hover {
            color: dimgrey;
            cursor: pointer; }

  .banner-text {
    width: 65%;
    height: 40px; }

  .main-banner {
    margin-top: 6vw;
    width: 100%;
    height: 250px; }
    .main-banner figure img {
      width: 440px;
      height: 250px; }

  .font-text {
    font-size: 20px; }

  .top-search {
    width: 75%;
    height: 55px; }
    .top-search form {
      height: 25px; }
      .top-search form input[type=text] {
        font-size: 15px; }
    .top-search button {
      width: 30px;
      height: 25px;
      font-size: 10px; }
      .top-search button img {
        width: 22px;
        height: 22px; }

  .project {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-flow: column wrap; }
    .project .project-content {
      width: 100%;
      height: auto; }
      .project .project-content figure {
        max-width: 100%;
        max-height: 100%; }
        .project .project-content figure img {
          max-width: 50%;
          height: auto;
          max-height: 100%; }
    .project .project-description {
      width: 100%; } }
